#previewBox.format_default_klein {
width: 25mm;
height: 50mm;
}
.format_default_klein {
text-align: center;
white-space: nowrap;
overflow: hidden;
}
.format_default_klein {
align-items: initial;
}
#toPrint.format_default_klein > .capsule {
height: 50mm;
width: 25mm;
overflow: hidden;
}
.format_default_klein > .capsule > .innerBox > p,
.format_default_klein > .innerBox > p {
margin: 0px 0px 0px 0px;
}
.format_default_klein > .capsule > .innerBox > .line_1,
.format_default_klein > .innerBox > .line_1 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_2,
.format_default_klein > .innerBox > .line_2 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_3,
.format_default_klein > .innerBox > .line_3 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_4,
.format_default_klein > .innerBox > .line_4 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_5,
.format_default_klein > .innerBox > .line_5 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_6,
.format_default_klein > .innerBox > .line_6 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_7,
.format_default_klein > .innerBox > .line_7 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_klein > .capsule > .innerBox > .line_1,
.format_default_klein > .innerBox > .line_1 {
margin-top: 0mm;
}
@media print {
@page {
size: 25mm 50mm;
margin-top: 0mm;
margin-left: 0mm;
}
body {
margin: 0px;
}
}