#previewBox.format_default_gross {
width: 80mm;
height: 43mm;
}
.format_default_gross {
text-align: initial;
white-space: nowrap;
overflow: hidden;
}
.format_default_gross {
align-items: center;
}
#toPrint.format_default_gross > .capsule {
height: 43mm;
width: 80mm;
display: flex;
justify-content: center;
flex-direction: column;
overflow: hidden;
}
.format_default_gross > .capsule > .innerBox > p,
.format_default_gross > .innerBox > p {
margin: 0px 0px 0px 0px;
}
.format_default_gross > .capsule > .innerBox > .line_1,
.format_default_gross > .innerBox > .line_1 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 47%;
}
.format_default_gross > .capsule > .innerBox > .line_2,
.format_default_gross > .innerBox > .line_2 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 47%;
}
.format_default_gross > .capsule > .innerBox > .line_3,
.format_default_gross > .innerBox > .line_3 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 47%;
}
.format_default_gross > .capsule > .innerBox > .line_4,
.format_default_gross > .innerBox > .line_4 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 47%;
}
.format_default_gross > .capsule > .innerBox > .line_5,
.format_default_gross > .innerBox > .line_5 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 47%;
}
.format_default_gross > .capsule > .innerBox > .line_6,
.format_default_gross > .innerBox > .line_6 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 47%;
}
.format_default_gross > .capsule > .innerBox > .line_1,
.format_default_gross > .innerBox > .line_1 {
margin-top: -3mm;
}
@media print {
@page {
size: 99.97mm 48.92mm;
margin-top: 2.96mm;
margin-left: 9.985mm;
}
body {
margin: 0px;
}
}