#previewBox.format_thulb_klein_1 {
width: 74mm;
height: 23mm;
}
.format_thulb_klein_1 {
text-align: center;
white-space: nowrap;
overflow: hidden;
}
.format_thulb_klein_1 {
align-items: center;
}
#toPrint.format_thulb_klein_1 > .capsule {
height: 23mm;
width: 74mm;
display: flex;
justify-content: center;
flex-direction: column;
overflow: hidden;
}
.format_thulb_klein_1 > .capsule > .innerBox > p,
.format_thulb_klein_1 > .innerBox > p {
margin: 0px 0px 0px 0px;
}
.format_thulb_klein_1 > .capsule > .innerBox > .line_1,
.format_thulb_klein_1 > .innerBox > .line_1 {
font-family: "Arial Narrow";
font-size: 15pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_thulb_klein_1 > .capsule > .innerBox > .line_1,
.format_thulb_klein_1 > .innerBox > .line_1 {
margin-top: -1mm;
}
@media print {
@page {
size: 79.5mm 27.5mm;
margin-top: 2.25mm;
margin-left: 2.75mm;
}
body {
margin: 0px;
}
}