#previewBox.format_thulb_gross{
  width: 80mm;
  height: 43mm;
  }
  .format_thulb_gross{
  text-align: initial;
  }
  .format_thulb_gross{
  align-items: center;
  }
  .format_thulb_gross > .innerBox > p {
  margin: 2px 0px 2px 0px;
  }
  .format_thulb_gross > .innerBox > .line_1 {
  font-family: Arial Narrow;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  margin-left: 45%;
  }
  .format_thulb_gross > .innerBox > .line_2 {
  font-family: Arial Narrow;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  margin-left: 45%;
  }
  .format_thulb_gross > .innerBox > .line_3 {
  font-family: Arial Narrow;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  margin-left: 45%;
  }
  .format_thulb_gross > .innerBox > .line_4 {
  font-family: Arial Narrow;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
  margin-left: 45%;
  }
  .format_thulb_gross > .innerBox > .line_5 {
  font-family: Arial Narrow;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
  margin-left: 45%;
  }
  .format_thulb_gross > .innerBox > .line_6 {
  font-family: Arial Narrow;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  margin-left: 45%;
  }