body {
  background-color: RGB(240, 240, 240);
}
#previewBox, .pell-content {
  width: 80mm;
  height: 43mm;
  border: 1px solid black;
  background-color: white;
  margin: 5px auto 5px 5px;
  border-radius: 2px;
  font-family: "Arial Narrow";
  font-size: 14pt;
  display: flex !important;
  float: none !important;
  overflow: hidden;
}
#innerBox {
  width: 100%;
}
#innerBox > p {
  width: 100%;
}
