body {
  background-color: RGB(240, 240, 240);
  font-family: "Arial";
  font-size: 10pt;
}

#tableBox {
  border: 1px solid grey;
  overflow-y: scroll;
  height: 260px;
  background-color: RGB(255, 254, 225);
}

.toPrint {
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

#buttonBox>button {
  width: 220px;
  padding: 5px;
  margin: 2px 10px 2px 10px;
  text-align: center;
  font-weight: bold;
}

#container {
  overflow: hidden;
}

#buttonBox {
  float: left;
  margin-left: -10px;
  margin-top: 3px;
}

th,
td {
  text-align: center;
}

.txtCell {
  width: 35%;
  text-align: left;
}

.dateCell {
  width: 20%;
}

.isNrCell,
.printCountCell {
  width: 15%;
}

.shortShelfmarkCell,
.printCell,
.labelSizeCell {
  width: 5%;
}

hr {
  width: 101%;
}

.ppnRow {
  color: RGB(0, 51, 153);
}

.printCountCell>input {
  text-align: center;
}

table {
  border-collapse: collapse;
  /* margin: 0px 5px 5px 5px; */
}

thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: RGB(240, 240, 240);
}

tbody>tr:hover {
  background-color: #f5f5f5;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid grey;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.button:hover:enabled {
  background-color: grey;
  cursor: pointer;
}

.button[disabled] {
  background-color: lightgray;
  color: grey;
}

#devMode {
  display: none;
}

#datepicker {
  border: 2px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  padding: 3px;
  font-weight: 600;
}

#datepickerSpan {
  float: right;
}

#columnPrint {
  border: 0px;
  background-color: RGB(240, 240, 240);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%;
}

.tooltip-right {
  top: -11px;
  left: 125%;
}

td.txtCell {
  padding-left: 5px;
}
