html, body {
  background-color: RGB(240, 240, 240);
  font-family: "Arial";
  font-size: 10pt;
  line-height: initial;
}

*:focus {
  outline: none;
}

#tableBox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-x: hidden; 
  overflow-y: scroll;
  height: 260px;
  width: 100%;
  background-color: RGB(255, 254, 225);
}

.toPrint {
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

#buttonBox>button {
  width: 220px;
  margin: 2px 10px 2px 10px;
}

#container {
  overflow: hidden;
}

#buttonBox {
  float: left;
  margin-left: -5px;
  margin-top: 3px;
}

th,
td {
  text-align: center !important;
  vertical-align: middle !important;
}

.txtCell {
  width: 35%;
  text-align: left !important;
}

.dateCell {
  width: 20%;
}

.isNrCell,
.printCountCell {
  width: 15%;
}

.shortShelfmarkCell,
.printCell,
.labelSizeCell {
  width: 5%;
}

hr {
  width: 101%;
  background-color: initial !important;
  border-style: inset !important;
  border-width: 1px !important;
  margin: 5px 0 !important;
}

.ppnRow {
  color: RGB(0, 51, 153);
}

.printCountCell>input {
  width: 55px !important;
  font-size: 10pt !important;

}

table {
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: RGB(240, 240, 240);
}

tbody>tr:hover {
  background-color: #f5f5f5;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button:hover:enabled {
  /* background-color: grey; */
  cursor: pointer;
}

#devMode {
  display: none;
}

#datepicker {
  width: 155px;
}

#columnPrint {
  border: 0px;
  background-color: RGB(240, 240, 240);
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%;
}

.tooltip-right {
  top: -11px;
  left: 125%;
}

td.txtCell {
  padding-left: 5px;
}

#input_barcode {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.noIndent > p {
  margin-left: 0px !important;
}

#topLine {
  margin: 5px;
}
#defaultPath{
  margin-right: 5px;
}
#btn_refresh {
  margin-right: 5px;
}

#sru {
  display: none;
}

#shelfmarkTableBody > tr:first-of-type > td:first-of-type {
  padding-top: 7px !important;
}
#shelfmarkTableBody > tr:first-of-type > td > hr {
  margin-top: 12px !important;
}

#columnPrint.button:focus:not(:active) {
  box-shadow: none !important;
}
