/* general styles */
html {
  background-color: inherit;
}
body {
  line-height: inherit;
}
.columns {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.column {
  padding: 0px !important;
}
.column > .box {
  margin: 5px !important;
}
.box {
  margin: 10px !important;
}
.field-label {
  text-align: left !important;
}

/* delimBox */
#input_delimiter {
  width: 35px !important;
}

/* configInputs */
#configInputs {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
#configInputs > .columns {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

/* paperBox styles */
#input_paperHeight, #input_paperWidth {
  width: 100px !important;
}

/* tableBox styles */
#tableBox {
  margin-top: 0px !important;
}

/* table styles */
tbody > tr > td:first-child {
  padding-top: 11px !important;
}
tbody > tr > td:nth-child(4) {
  padding-top: 11px !important;
  padding-left: 17px !important;
}
tbody > tr > td:nth-child(5) {
  padding-top: 11px !important;
  padding-left: 25px !important;
}

.oneLabelSize {
  margin-right: 0px !important;
}
.oneLabelSize > label.label {
  width: 125px !important;
}
.fullwidth {
  width: 100% !important;
}
#useRegExBox {
  display: none;
}
#useRegExBox > #label_checkboxRegEx > label.label{
  width: max-content;
}
#chkbx_regEx {
  margin-top: 10px;
}