@media print {
  .shelfmark {
    page-break-before: always;
  }
}

#toPrint {
  font-family: "Arial Narrow";
  font-size: 16pt;
}

div.shelfmark.center.small {
  font-size: 15pt;
}

div.shelfmark.indent.small {
  margin-top: -4px;
}

.shelfmark>p {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

p.shelfmarkLine_1 {
  padding-top: 6px;
}

p.shelfmarkLine_1.small {
  padding-top: 0px;
}

p.oneLine {
  padding-top: 28px;
}

p.oneLine.small {
  padding-top: 33px;
}


#userCard,
.shelfmarkLine_1,
.shelfmarkLine_2,
.shelfmarkLine_3,
.shelfmarkLine_6 {
  font-weight: bold;
}

#userCard.small {
  margin-top: -10px;
}

.indent {
  padding-left: 45%;
}

.indent.small {
  padding-left: 40%;
}

.center {
  text-align: center;
}

.center.small {
  padding-right: 30px;
}